<ul class='country-main'>
  <li class='country-main__header'>
    <img
      src='{{flags.png}}'
      alt='{{name.official}}'
      class='country-main__image'
    />
    <h1 class='country-main__title'>{{name.official}}</h1>
  </li>
  <li class='country-main__attribute'>Capital: {{capital}}</li>
  <li class='country-main__attribute'>Population: {{population}}</li>
  <li class='country-main__attribute'>Languages: {{languages}}</li>
</ul>